.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal {
  display: block; /* 모달을 보여줌 */
  position: fixed; /* 화면에 고정 */
  z-index: 1; /* 다른 요소들 위에 표시 */
  left: 50%; /* 화면의 가로 중앙 */
  top: 50%; /* 화면의 세로 중앙 */
  width: 80%; /* 전체 너비 */
  height: 80%; /* 전체 높이 */
  overflow: auto; /* 필요시 스크롤 */
  background-color: rgb(0, 0, 0); /* 반투명 검은색 배경 */
  background-color: rgba(0, 0, 0, 0.4); /* 불투명도 조절 */
  transform: translate(-50%, -50%);
}

/* 모달 내용 */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 페이지 중앙에 위치 */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* 너비 */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* 그림자 효과 */
  border-radius: 5px; /* 모서리 둥글게 */
}

/* 닫기 버튼 */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}